<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基于哈利波特知识图谱的人物关系问答系统</title>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="../static/images/icon.jpg">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="../static/css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="../static/css/nifty-demo.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/wiki.css" rel="stylesheet">

    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="../static/css/pace.min.css" rel="stylesheet">

    <script src="../static/js/pace.min.js"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="../static/js/jquery-2.2.4.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="../static/js/bootstrap.min.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="../static/js/nifty.min.js"></script>
    <script src="../static/js/icons.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/tags.js"></script>


    <!--Demo script [ DEMONSTRATION ]-->
    <script src="../static/js/nifty-demo.min.js"></script>
    <style type="text/css">
        body {
            height: 100vh;
            overflow: hidden;
        }

        /* latin-ext */
        @font-face {
            font-family: 'Hanalei Fill';
            font-style: normal;
            font-weight: 400;
            src: url(https://fonts.gstatic.googlefonts.cn/s/hanaleifill/v21/fC1mPYtObGbfyQznIaQzPQi8XgjAllk.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        /* latin */
        @font-face {
            font-family: 'Hanalei Fill';
            font-style: normal;
            font-weight: 400;
            src: url(https://fonts.gstatic.googlefonts.cn/s/hanaleifill/v21/fC1mPYtObGbfyQznIaQzPQi8UAjA.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        .tagsList {
            position: relative;
            width: 320px;
            height: 250px;
        }

        .tagsList a {
            position: absolute;
            top: 0px;
            left: 0px;
            font-family: 'Hanalei Fill', cursive;
            color: gray;
            font-weight: bold;
            text-decoration: none;
            padding: 3px 6px;
        }

        .tagsList a:hover {
            color: #249e92;
            letter-spacing: 2px;
        }

        .brand-text {
            font-size: 20px;
            font-family: 'Hanalei Fill', cursive;
        }


        /* 光标移动到字符则变绿，字符间距扩大*/
        #search:focus {
            border: 1px solid #249e92;
        }

        .brand-icon {
            border-radius: 50%;
        }

        .nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        #profile {
            width: 345px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        #profile img {
            border-radius: 8rem;
        }

        #profile p {
            margin-top: 10px;
        }
    </style>

</head>

<body>

<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <!--NAVBAR-->
    <header id="navbar">
        <div id="navbar-container" class="boxed">
            <!--Brand logo & name-->
            <div class="navbar-header">
                <a href="{{ url_for('index') }}" class="navbar-brand">
                    <img src="../static/images/icon.jpg" alt="Logo" class="brand-icon">
                    <div class="brand-title">
                        <span class="brand-text">Harry Potter</span>
                    </div>
                </a>
            </div>
            <!--End brand logo & name-->

            <!--Navbar Dropdown-->
            <div class="navbar-content clearfix">
                <ul class="nav navbar-top-links pull-left">
                    <!--Navigation toogle button-->
                    <li class="tgl-menu-btn">
                        <a class="mainnav-toggle" href="#">
                            <i class="demo-pli-view-list"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-top-links pull-left">
                    <h4>基于哈利波特知识图谱的人物关系问答系统&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                    <h4 style="color:#808e9b">Copyright&#0169; 2022 郎文翀、黄硕、相里千卉 &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All
                        Rights
                        Reserved
                    </h4>
                </ul>
            </div>
            <!--End Navbar Dropdown-->
        </div>
    </header>
    <!--END NAVBAR-->

    <div class="boxed">
        <!--MAIN NAVIGATION-->
        <nav id="mainnav-container">
            <div id="mainnav">
                <!--Menu-->
                <div id="mainnav-menu-wrap">
                    <div class="nano">
                        <div class="nano-content">
                            <ul id="mainnav-menu" class="list-group">
                                <!--Category name1-->
                                <li class="list-header">可视化展示</li>
                                <!--Menu list item-->
                                <li>
                                    <a href="{{ url_for('query_node')}}">
                                        <i class="fa fa-search" style="width:24px"></i>
                                        <span class="menu-title"><strong>检索节点</strong></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('answer_robot') }}">
                                        <i class="fa fa-pie-chart" style="width:24px"></i>
                                        <span class="menu-title"><strong>问答系统</strong></span>
                                    </a>
                                </li>

                                <li class="list-divider"></li>

                                <!--Category name2-->
<!--                                <li class="list-header">项目组介绍</li>-->
                                <!--                                &lt;!&ndash;Menu list item&ndash;&gt;-->
                                <!--                                <li>-->
                                <!--                                    <a href="{{ url_for('answer_robot') }}">-->
                                <!--                                        <i class="fa fa-comments" style="width:24px"></i>-->
                                <!--                                        <span class="menu-title"><strong>团队成员</strong></span>-->
                                <!--                                    </a>-->
                                <!--                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End menu-->

            </div>
        </nav>
        <!--END MAIN NAVIGATION-->

        <!--CONTENT CONTAINER-->
        <div id="content-container">
            <!--Page content-->
            <div id="page-content">
                <!--                <h4 class="text-main pad-btm bord-btm">检索节点信息</h4>-->

                <!--选择输入模块-->
                <div class="row">
                    <div class="col-lg-7"></div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <input type="text" id="search" class="form-control input-lg"
                                   placeholder="请输入要检索的人物节点如哈利·波特" style="width: 260px">
                            <span class="input-group-addon btn btn-mint" onclick="search()">搜索</span>
                        </div>
                    </div>
                </div>

                <div class="row" style="height: 20px;">
                    <h4 class="text-main pad-btm bord-btm">检索节点信息</h4>
                </div>
                <div class="row">
                    <!--echarts图-->
                    <div class="col-lg-9" style="height: 700px" id="guanxi"></div>
                    <!--快捷直达模块-->
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3 tagsList" id="shareholder" style="display: block">
                        <a href="#" data="罗恩·韦斯莱" cate="0">罗恩·韦斯莱</a>
                        <a href="#" data="哈利·波特" cate="0">哈利·波特</a>
                        <a href="#" data="西弗勒斯·斯内普" cate="0">西弗勒斯·斯内普</a>
                        <a href="#" data="阿不思·邓布利多" cate="0">阿不思·邓布利多</a>
                        <a href="#" data="西比尔·特里劳尼" cate="0">西比尔·特里劳尼</a>
                        <a href="#" data="汤姆·里德尔" cate="0">汤姆·里德尔</a>
                        <a href="#" data="加里克·奥利凡德" cate="0">加里克·奥利凡德</a>
                        <a href="#" data="卢娜·洛夫古德" cate="0">卢娜·洛夫古德</a>
                        <a href="#" data="米勒娃·麦格" cate="0">米勒娃·麦格 </a>
                        <a href="#" data="多洛雷斯·乌姆里奇" cate="0">多洛雷斯·乌姆里奇</a>
                        <a href="#" data="纳威·隆巴顿" cate="0">纳威·隆巴顿</a>
                        <a href="#" data="阿格斯·费尔奇" cate="0">阿格斯·费尔奇</a>
                    </div>

                    <!--信息表模块 -->
                    <div class="col-lg-3">
                        <div class="row" style="height: 20px;"></div>
                        <div style=" margin-top:20px; height: 30px; font-size: 18px; font-family: 宋体; border-top: 1px solid black; padding:9px 0 0 13px">
                            <strong>详细信息</strong></div>
                        <div class="row">
                            <div class="basic-info">
                                <dl class="basicInfo-block basicInfo-left" id="profile"></dl>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!--End page content-->
        </div>
        <!--END CONTENT CONTAINER-->

    </div>

    <!-- SCROLL PAGE BUTTON -->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
</div>
<!-- END OF CONTAINER -->
<script type="text/javascript">
    //调整快捷直达模块内容
    $(function () {
        $(document).ready(function () {
            change(0);
            $("#choice").change(function () {
                var choice = $(this).val();
                if (choice === '0') {
                    $("#shareholder").show();
                    $("#stock").hide();
                    $("#concept").hide();
                    change(choice);
                }
            })
        })
    });

    //回车键事件
    $(document).keypress(function (e) {
        if (e.which === 13) {
            search();
        }
    });

    //绘制echart
    window.onresize = function () {
        myChart.resize();
    }
    $.ajaxSetup({async: false});
    var myChart = echarts.init(document.getElementById("guanxi"));
    myChart.showLoading();

    myChart.hideLoading();
    option = {
        animationDurationUpdate: 1000,
        animationEasingUpdate: 'quinticInOut',
        legend: {
            x: "center",
            show: true,
            data: ["主节点", "相关节点"],
            textStyle: {fontSize: 12}
        },
        color: ['#FD7272', '#34ace0'],
        series: [  // 图谱样式设置
            {
                type: 'graph',
                layout: 'force',
                symbolSize: 60,
                edgeSymbol: ['circle', 'arrow'],
                edgeSymbolSize: [4, 4],
                edgeLabel: {
                    normal: {
                        show: true,
                        textStyle: {
                            fontSize: 12
                        },
                        formatter: "{c}"
                    }
                },
                focusNodeAdjacency: true,
                draggable: true,
                roam: true,
                force: {
                    repulsion: 1000
                },
                categories: [{name: '主节点',}, {name: '相关节点'}],
                label: {
                    normal: {
                        show: true,
                        textStyle: {fontSize: 12, color: '#000000'},
                    }
                },
                tooltip: {  //好像没什么用
                    formatter: function (node) { // 区分重复连线和节点，节点上额外显示其他数字
                        if (!node.value) {
                            return node.data.name;
                        } else {
                            return node.data.name + ":" + node.data.showNum;
                        }
                    },
                },
                lineStyle: {
                    normal: {
                        opacity: 0.9,
                        width: 1,
                        curveness: 0.5
                    }
                },
                nodes: [],
                links: [],
            }
        ]
    };

    //点击图中元素，展示不同的表内容
    myChart.on('click', function (params) {
        // 点击图中节点也可以查看信息栏
        var type = params.dataType,  //node或edge
            data = params.data,  //json形式，node:{id,category,name}  edge:{source,target,value}
            nodes = option.series[0].nodes,  //数组

            graph = {
                type: JSON.stringify(type),
                data: JSON.stringify(data),
                nodes: JSON.stringify(nodes)
            };
        // 加载详细信息表
        $.ajax({
            url: '/get_chart',
            type: 'post',
            data: graph, //这里使用json对象，或使用JSON.stringify(data)
            dataType: 'json',  //返回数据类型为json
            success: function (data) {
                $("#profile").html(data);
            },
            fail: function () {
                alert("网络连接失败");
            }
        });
    });

    //超链接直达
    $(".col-lg-3 a").click(function () {
        $.getJSON('/search_node', {
            name: $(this).attr("data"),
        }, function (json) {
            // console.log('hhh')
            // 加载图对象
            option.series[0].nodes = json.nodes;
            option.series[0].links = json.links;
            myChart.setOption(option, true);
            console.log(json.html)
            $("#profile").html(json.html);

        })
    });

    //搜索事件
    function search() {
        $.getJSON('/search_node', {
            name: $("#search").val(),
        }, function (json) {
            // console.log('hhhh')
            option.series[0].nodes = json.nodes;
            option.series[0].links = json.links;
            myChart.setOption(option, true);
            console.log(json.html)
            $("#profile").html(json.html);
        });
    }
</script>
</body>
</html>
